<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="orderService" class="org.example.OrderService">
<!--        <constructor-arg ref="paymentService"/>   &lt;!&ndash; used for the constructor injection&ndash;&gt;-->
        <property name="paymentService" ref="paymentService"/> <!-- property tag is used when using the settter method injection-->
    </bean>
<!--    <bean id="orderService2" class="org.example.OrderService"/>  &lt;!&ndash;get bean by type will not work if there's 2 bean with the same class name&ndash;&gt;-->

    <bean id="paymentService" class="org.example.PaymentService">
        <constructor-arg value="UPI" />
        <constructor-arg value="1"/>
    </bean>




</beans>